[flake8]
max-line-length = 80
max-complexity = 10
select = C,E,F,W,B,B9
extend-ignore =
    # whitespace before ':', non-compliant with PEP8 and Black
    E203,
    # line length, ignored because B950 from flake8-bugbear takes care of that
    E501,
    # line break before binary operator, non-compliant with PEP8
    W503
